<div style="margin-top: 2%" class="container">
  <button class="btn danger-color btn-sm pull-left" (click)="backClicked()">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
  </button>
</div>
<div class="container text-center">
  <h3 class="text-center text-primary">Edición de un usuario</h3>
  
  <form [formGroup]="userFG">
    <mat-form-field>
      <mat-select placeholder="Rol" [formControl]="userFG.get('Role')" [(ngModel)]="user.Role">
        <mat-option *ngFor="let e of usersRole" [value]="e">
          {{ e }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="md-form">
      <input mdbActive [formControl]="userFG.get('UserName')" [(ngModel)]="user.UserName" type="text" id="username" class="form-control">
      <label for="username" class="">Nombre de Usuario</label>
    </div>
    <mat-slide-toggle color="primary" [(ngModel)]="checked" [ngModelOptions]="{standalone: true}" (click)="checkedClick()">Cambiar contraseña</mat-slide-toggle>
    <div class="container">
      <div class="md-form">
        <input mdbActive (keyup)="onKey($event)" [formControl]="userFG.get('OldPassword')" [(ngModel)]="OldPassword" type="text" id="username" class="form-control">
        <label for="username" class="">Antigua contraseña</label>
      </div>
    </div>
    <div class="container text-center">
      <button [disabled]="!userFG.valid" (click)="updateUser()" class="btn btn-success btn-sm">Aceptar</button>
      <button (click)="resetForm()" class="btn btn-danger btn-sm">Cancelar</button>
    </div>
  </form>
</div>