<form class="container text-center" [formGroup]="employnmentGroup">
  <mat-form-field>
    <mat-select placeholder="¿Actualmente tiene trabajo? / Do you currently work?">
      <mat-option *ngFor="let d of data.doYouHaveWork" [value]="d">
        {{d}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!---->
  <mat-form-field>
    <mat-select placeholder="¿Cuál es su ocupación? / What is your occupation?">
      <mat-option *ngFor="let o of data.occupation" [value]="o">
        {{o}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!---->
  <mat-form-field>
    <mat-select placeholder="¿Por qué motivo no tiene trabajo? / Why don't you have a job?">
      <mat-option *ngFor="let u of data.unemploymentReason" [value]="u">
        {{u}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!---->
  <mat-form-field>
    <mat-select placeholder="¿Desde hace cuanto está desempleada? / How long have you been unemployed?">
      <mat-option *ngFor="let u of data.unemploynmentDate" [value]="u">
        {{u}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!---->
  <mat-form-field>
    <mat-select placeholder="¿Con cuánta frecuencia trabaja? / If you work, how often?">
      <mat-option *ngFor="let u of data.workFrecuency" [value]="u">
        {{u}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!---->
  <mat-form-field>
    <mat-select placeholder="¿Quiere usted trabajar pocas horas a la semana? / Do you only want to work a few hours a week?">
      <mat-option *ngFor="let u of data.fewHours" [value]="u">
        {{u}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!---->
  <div class="md-form">
    <input required [formControl]="employnmentGroup.get('whyWorkFewHours')" [(ngModel)]="person.Employment.WhyWorkFewHours" 
    mdbActive type="text" id="whyWorkFewHours" class="form-control">
    <label for="whyWorkFewHours" class="">
      If yes, why do you want to work only a few hours a week?
    </label>
  </div>
  <!---->
  <mat-form-field>
    <mat-select placeholder="¿Qué le imposibilita trabajar más horas a la semana? / What is stopping you from working more hours a week?">
      <mat-option *ngFor="let u of data.whyIsItImposible" [value]="u">
        {{u}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!---->
  <mat-form-field>
    <mat-select placeholder="¿Tiene usted un negocio/emprendimiento en funcionamiento?">
      <mat-option *ngFor="let u of data.haveABusiness" [value]="u">
        {{u}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!---->
  
</form>