<form class="text-center container" [formGroup]="educationGroup">
  <mat-form-field>
    <mat-select placeholder="¿Sabe Leer / Escribir?" 
    [formControl]="educationGroup.get('read')" [(ngModel)]="person.Education.Read">
      <mat-option *ngFor="let r of data.read" [value]="r">
        {{ r }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-divider></mat-divider>
  <mat-form-field>
    <mat-select placeholder="Escolaridad / Education background" 
    [formControl]="educationGroup.get('educationBackground')" [(ngModel)]="person.Education.EducationBackground">
      <mat-option *ngFor="let e of data.education" [value]="e">
        {{ e }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-divider></mat-divider>
  <div class="container text-center">
      <mat-form-field>
        <input matInput placeholder="Cursos" #course>
      </mat-form-field>
    <button style="background-color: #75e900; color: white" mat-raised-button (click)="addCourse(course.value); false"><mat-icon>add</mat-icon></button>
  </div>
  <br>
  <mat-list id="courses-list" *ngIf="person.Education.Courses.length !== 0" role="list">
    <mat-list-item class="course" role="listitem" *ngFor="let c of person.Education.Courses">
      {{c}}
    </mat-list-item>
  </mat-list>
  <button mat-raised-button color="primary">
    Enviar
    <mat-icon>send</mat-icon>
  </button>
</form>