<div style="margin-top: 2%" class="container">
  <button class="btn danger-color btn-sm pull-left" (click)="backClicked()">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
  </button>
</div>
<div id="resolutions-container" class="container text-center">
  <h3 class="text-primary">Necesidades de la persona</h3>
  <mat-form-field>
    <input matInput [(ngModel)]="resolutionDate" [matDatepicker]="resolDate" placeholder="Fecha de resolución">
    <mat-datepicker-toggle matSuffix [for]="resolDate"></mat-datepicker-toggle>
    <mat-datepicker #resolDate></mat-datepicker>
  </mat-form-field>
  <mat-selection-list class="text-center" #resolutions>
    <mat-list-option *ngIf="!loading && this.health.Need.Need_Doctor" [value]="'Need_Doctor'">
      Resolver necesidad de Doctor
    </mat-list-option>
    <mat-list-option *ngIf="health.Need.Need_Ophthalmologist" [value]="'Need_Ophthalmologist'">
      Resolver necesidad de Oftalmólogo
    </mat-list-option>
    <mat-list-option *ngIf="health.Need.Need_Mammography" [value]="'Need_Mammography'">
      Resolver necesidad de Mamografía
    </mat-list-option>
    <mat-list-option *ngIf="health.Need.Need_Dentist" [value]="'Need_Dentist'">
      Resolver necesidad de Dentista
    </mat-list-option>
    <mat-list-option *ngIf="health.Need.Need_Gynecologist" [value]="'Need_Gynecologist'">
      Resolver necesidad de Ginecólogo
    </mat-list-option>
    <mat-list-option *ngIf="health.Need.Need_Psychologist" [value]="'Need_Psychologist'">
      Resolver necesidad de Psicólogo
    </mat-list-option>
  </mat-selection-list>
  
  <p class="text-danger" id="footer-paragraph">
    Necesidades por resolver: {{ resolutions.options.length - resolutions.selectedOptions.selected.length}}
  </p>
  <div *ngIf="resolutions.selectedOptions.selected.length !== 0" id="actions-container" class="container text-center">
    <button mat-raised-button color="primary" (click)="makeResolution(resolutions)">Aceptar</button>
  </div>
</div>