div.md-form{
    margin: auto
}
mat-form-field{
    width: 100%;
}
form{
    width: 60%;
    margin-bottom: 2%;
    margin-top: 2%
}
h4{
    margin-top: 1%
}
#actions-container{
    text-align: right;
    margin: auto;
    margin-right: 0;
    width: 100%
}
hr{
    background-color: indigo
}