<div id="auth-dialog" class="card container">
  <h3>Autenticación</h3>
  <form [formGroup]="myForm" *ngIf="!authentication.getUser()">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Nombre usuario" 
      [formControl]="myForm.controls['userNameFormControl']"  #username>
      <mat-error *ngIf="myForm.controls['userNameFormControl'].hasError('required')">
        Este campo es <strong>requerido</strong>
      </mat-error>
    </mat-form-field>
    <div style="margin-top: 2%;" class="md-form">
      <input mdbActive [formControl]="myForm.controls['passwordFormControl']" 
      type="password" id="passwordInput" class="form-control"  #password>
      <label for="passwordInput" class="">Contraseña</label>
      <!-- <mat-error *ngIf="myForm.controls['passwordFormControl'].hasError('required')">
        Este campo es <strong>requerido</strong>
      </mat-error> -->
    </div>
    <div>
      <button type="submit" id="login-btn" mat-button color="primary" [routerLink]="['/admin']" 
      (click)="login(username.value, password.value)" [disabled]="!myForm.valid">
        Ingresar
      </button>
      <mat-progress-bar style="margin-top: 1%" *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    </div>
  </form>
</div>