mat-form-field{
    width: 100%;
}
form{
    width: 60%;
    margin-bottom: 2%;
    margin-top: 2%
}
#add-client-btn{
    margin-top: 0; 
    margin-bottom: 2%;
    background-color: #75e900;
    color: white
}
#actions-container{
    text-align: right;
    margin: auto;
    margin-right: 0;
    width: 60%
}