<div id="search-container" class="md-form text-center">
  <input mdbActive type="text" id="form1" class="form-control">
  <label for="form1" class="">Buscar por nombre</label>
</div>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>F. Entrada</th>
      <th>Nombre</th>
      <th>Nacionalidad</th>
      <th>Número teléfono</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of personService.people let i = index">
      <th>{{i+1}}</th>
      <th scope="row">{{p.EntryDate | date:'fullDate'}}</th>
      <td>{{p.Name}}</td>
      <td>{{p.Nationality}}</td>
      <td>{{p.PhoneNumber}}</td>
      <td>
        <!-- Split button -->
        <div class="btn-group" dropdown>
          <button mat-icon-button>
            <mat-icon aria-label="Example icon-button with a heart icon">more_vert</mat-icon>
          </button>
          <button type="button" dropdownToggle class="btn btn-danger dropdown-toggle dropdown-toggle-split px-3 waves-light" mdbRippleRadius></button>
          <div class="dropdown-menu">
            <a class="dropdown-item" (click)="onEditPerson(i)">Editar</a>
            <a class="dropdown-item" (click)="onViewDetails(i)">Ver Detalles</a>
          </div>
        </div>   
      </td>
    </tr>
</table>