h2{
    margin-top: 5%;
}
#people{
    padding: 0;
    list-style-type: none;
}
.person {
    width: 75%;
    margin: auto
}
#footer-panel{
    margin-bottom: 0.5%
}
.bottom-margin {
    margin-bottom: 2%
}
ng-template{
    margin-bottom: 1%
}