<div *ngIf="!loading" class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">

  <mat-table [dataSource]="dataSource">

    <!-- BornDate Column -->
    <ng-container matColumnDef="bornDate">
      <mat-cell *matCellDef="let row"> {{row.BornDate}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-cell *matCellDef="let row"> {{row.Name}} </mat-cell>
    </ng-container>

    <!-- entryDate Column -->
    <ng-container matColumnDef="entryDate">
      <mat-cell *matCellDef="let row"> {{row.EntryDate}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>