<div id="search-container" class="md-form text-center">
  <input mdbActive type="text" id="form1" class="form-control">
  <label for="form1" class="">Buscar por nombre</label>
</div>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>F. Entrada</th>
      <th>Nombre</th>
      <th>Nacionalidad</th>
      <th>Número teléfono</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of personService.people let i = index">
      <th>{{i+1}}</th>
      <th scope="row">{{p.EntryDate | date:'fullDate'}}</th>
      <td>{{p.Name}}</td>
      <td>{{p.Nationality}}</td>
      <td>{{p.PhoneNumber}}</td>
      <td>
        <mat-form-field>
          <mat-select placeholder="Acciones">
            <mat-option (click)="onEditPerson(i)">Editar</mat-option>
            <mat-option (click)="onViewDetails(i)">Ver Detalles</mat-option>
          </mat-select>
        </mat-form-field>  
      </td>
    </tr>
</table>