<div id="login-container" class="container">
    <!-- Login form -->
    <form class="card" *ngIf="!_auth.isLoggedIn()" [formGroup]="loginFG">
      <p class="h4 text-secondary text-center">Ingreso al sistema</p>
    
      <div class="md-form">
          <input [(ngModel)]="login.UserName" [formControl]="loginFG.get('Username')" value="test" type="text" id="defaultForm-email" class="form-control" mdbActive>
          <label for="defaultForm-email">Nombre de usuario</label>
      </div>
    
      <div class="md-form">
          <input [(ngModel)]="login.Password" [formControl]="loginFG.get('Password')" value="test" type="password" id="defaultForm-pass" class="form-control" mdbActive>
          <label for="defaultForm-pass">Contraseña</label>
      </div>
      <mat-checkbox color="primary">Recordarme</mat-checkbox>
      <small class="text-center text-secondary">
        <em>
          Sólo los usuarios agregados por administradores o editores pueden
          ingresar al sistema
        </em>
      </small>
      <div class="text-center">
          <button (click)="onSubmit()" [disabled]="!loginFG.valid" [routerLink]="['/home']" class="btn btn-default btn-sm waves-light" mdbRippleRadius>Ingresar</button>
      </div>
    </form>
    <!-- <ng-template #loggued>
        <p>Usuario logueado como {{logguedUser.UserName}}</p>
    </ng-template> -->
    <!-- Login form -->
</div>
