<div id="search-container" class="md-form text-center">
  <mat-form-field style="margin-top: 1%">
    <mat-select placeholder="Buscar por.." [(ngModel)]="selection">
      <mat-option *ngFor="let s of selectionArray" [value]="s">
        {{s}}
      </mat-option>
    </mat-select>
  </mat-form-field>  
  <div class="md-form" *ngIf="selection">
    <input mdbActive type="text" id="name" class="form-control">
    <label for="name" class="">Ingrese..</label>
  </div>
</div>
<div class="container">
  <table class="table text-center">
    <thead class="t-header">
      <tr>
        <th>#</th>
        <th>Nombre de usuario</th>
        <th>Rol</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let us of _userService.users | paginate: { itemsPerPage: 4, currentPage: p } ; let i = index">
        <th>{{i+1}}</th>
        <td>{{us.UserName}}</td>
        <td>{{us.Role}}</td>
        <td>
          <mat-form-field>
            <mat-select placeholder="Acciones">
              <mat-option (click)="onEditUser(i)">Editar</mat-option>
              <mat-option (click)="onViewUserDetails(i)">Ver Detalles</mat-option>
            </mat-select>
          </mat-form-field>  
        </td>
      </tr>
  </table>
</div>

<pagination-controls class="my-pagination" style="text-align: center;" (pageChange)="p=$event"></pagination-controls>