<h1 class="text-center text-secondary"><strong>Personas</strong></h1>
<ul id="people">
  <li *ngFor="let p of personService.people" class="person">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{p.Name}}
        </mat-panel-title>
        <mat-panel-description>
          Presione para más información
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="container">

      </div>
    </mat-expansion-panel>
  </li>
</ul>