<h1 class="text-center text-secondary"><strong>Personas</strong></h1>
<ul id="people">
  <li *ngFor="let p of personService.people" class="person">
    <mat-expansion-panel [expanded]="collapse">
      <mat-expansion-panel-header (click)="changeCollapse()">
        <mat-panel-title>
            <span class="badge indigo">{{p.Name}}</span>
        </mat-panel-title>
        <mat-panel-description>
          Presione para más información
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="container">
        <p><strong>Fecha de ingreso a la fundación:</strong> {{p.EntryDate | date: 'fullDate'}}</p>
        <p><strong>Activa:</strong> {{p.ActiveOrInactive}}</p>
        <p><strong>Edad:</strong> {{p.Age}}</p>
        <p><strong>Fecha de nacimiento:</strong> {{p.BornDate | date: 'fullDate'}}</p>
        <p><strong>Lee:</strong> {{p.Read}}</p>
        <p><strong>Escribe:</strong> {{p.Write}}</p>
        <p><strong>Seguro Social:</strong> {{p.SocialSecurity}}</p>
        <p><strong>Tipo de seguro:</strong> {{p.SocialSecurityType}}</p>
        <p><strong>Educación:</strong> {{p.Education}}</p>
        <p><strong>Nacionalidad:</strong> {{p.Nationality}}</p>
        <p><strong>Número de teléfono:</strong> {{p.PhoneNumber}}</p>
        <p><strong>Dirección:</strong> {{p.Address}}</p>
        <p><strong>Correo electrónico:</strong> {{p.Email}}</p>
        <!---->
        <div *ngIf="p.need_Doctor === true;else no"><strong>Necesita Doctor:</strong>
          <i class="fa fa-check text-success" aria-hidden="true"></i>
        </div>
        <ng-template #no><strong>Necesita Doctor:</strong> 
          <i class="fa fa-times text-danger" aria-hidden="true"></i>
        </ng-template>
        <!---->
        <div *ngIf="p.Need_Ophthalmologist === true;else noOp"><strong>Necesita oftalmólogo:</strong>
          <i class="fa fa-check text-success" aria-hidden="true"></i>
        </div>
        <ng-template #noOp><strong>Necesita oftalmólogo:</strong> 
          <i class="fa fa-times text-danger" aria-hidden="true"></i>
        </ng-template>
        <!---->
        <div *ngIf="p.Need_Mammography === true;else noMam"><strong>Necesita mamografía:</strong>
          <i class="fa fa-check text-success" aria-hidden="true"></i>
        </div>
        <ng-template #noMam><strong>Necesita mamografía:</strong> 
          <i class="fa fa-times text-danger" aria-hidden="true"></i>
        </ng-template>
        <!---->
        <div *ngIf="p.Need_Dentist === true;else noDent"><strong>Necesita dentista:</strong>
          <i class="fa fa-check text-success" aria-hidden="true"></i>
        </div>
        <ng-template #noDent><strong>Necesita dentista:</strong> 
          <i class="fa fa-times text-danger" aria-hidden="true"></i>
        </ng-template>
        <!---->
        <div *ngIf="p.Need_Gynecologist === true;else noGine"><strong>Necesita ginecólogo:</strong>
          <i class="fa fa-check text-success" aria-hidden="true"></i>
        </div>
        <ng-template #noGine><strong>Necesita ginecólogo:</strong> 
          <i class="fa fa-times text-danger" aria-hidden="true"></i>
        </ng-template>
        <!---->
        <div *ngIf="p.Need_Psychologist === true;else noPyscho"><strong>Necesita psicólogo:</strong>
          <i class="fa fa-check text-success" aria-hidden="true"></i>
        </div>
        <ng-template #noPyscho><strong>Necesita psicólogo:</strong> 
          <i class="fa fa-times text-danger" aria-hidden="true"></i>
        </ng-template>
        <!---->
        <div *ngIf="p.AbuseVictim === true;else noAbuse"><strong>Ha sido víctima de abuso:</strong>
          <i class="fa fa-check text-success" aria-hidden="true"></i>
        </div>
        <ng-template #noAbuse><strong>Ha sido víctima de abuso:</strong> 
          <i class="fa fa-times text-danger" aria-hidden="true"></i>
        </ng-template>
        <!---->
        <div *ngIf="p.SuicideAttempt === true;else noSuicideAt"><strong>Ha intentado suicidio:</strong>
          <i class="fa fa-check text-success" aria-hidden="true"></i>
        </div>
        <ng-template #noSuicideAt><strong>Ha intentado suicidio:</strong> 
          <i class="fa fa-times text-danger" aria-hidden="true"></i>
        </ng-template>
        <!---->
        <div *ngIf="p.SuicideToughts === true;else noSuicideT"><strong>Tiene pensamientos suicidas:</strong>
          <i class="fa fa-check text-success" aria-hidden="true"></i>
        </div>
        <ng-template #noSuicideT><strong>Tiene pensamientos suicidas:</strong> 
          <i class="fa fa-times text-danger" aria-hidden="true"></i>
        </ng-template>
        <!---->
        <div *ngIf="p.DrugsProblem === true;else noDrugs"><strong>Tiene problemas de drogas:</strong>
          <i class="fa fa-check text-success" aria-hidden="true"></i>
        </div>
        <ng-template #noDrugs><strong>Tiene problemas de drogas:</strong> 
          <i class="fa fa-times text-danger" aria-hidden="true"></i>
        </ng-template>
        <!---->
        <div *ngIf="p.AlcoholProblems === true;else noAlcohol"><strong>Tiene problemas de alcohol:</strong>
          <i class="fa fa-check text-success" aria-hidden="true"></i>
        </div>
        <ng-template #noAlcohol><strong>Tiene problemas de alcohol:</strong> 
          <i class="fa fa-times text-danger" aria-hidden="true"></i>
        </ng-template>
        <!---->
        <div *ngIf="p.TakeMedication === true;else noAlcohol"><strong>Toma medicamentos:</strong>
          <i class="fa fa-check text-success" aria-hidden="true"></i>
        </div>
        <ng-template #noAlcohol><strong>Toma medicamentos:</strong> 
          <i class="fa fa-times text-danger" aria-hidden="true"></i>
        </ng-template>
        <!---->
        <p><strong>Medicamentos:</strong> {{p.Medication}}</p>
        <p><strong>Situación laboral:</strong> {{p.EmploymentSituation}}</p>
      </div>
      <div style="text-align: center">
        <button mat-button color="warn" (click)="changeCollapse()">Cerrar</button>
      </div>
    </mat-expansion-panel>
  </li>
</ul>