<form class="text-center container" [formGroup]="personalInfoGroup" (ngSubmit)="onSubmit()">
  <div class="md-form">
    <input [formControl]="personalInfoGroup.get('name')" [(ngModel)]="person.Name" mdbActive type="text" id="name" class="form-control" name="name">
    <label for="name" class="">Nombre</label>
  </div>
  <br>
  <div class="md-form">
    <input required [formControl]="personalInfoGroup.get('lastName')" [(ngModel)]="person.LastName" type="text" mdbActive id="lastanme" class="form-control">
    <label for="lastname" class="">Apellidos</label>
  </div>
  <br>
  <mat-radio-group [formControl]="personalInfoGroup.get('activeOrInactive')" [(ngModel)]="person.ActiveOrInactive">
    <p>Estado en la fundación</p>
    <mat-radio-button value="true">Activo</mat-radio-button>
    <mat-radio-button value="false">Inactivo</mat-radio-button>
  </mat-radio-group>
  <mat-form-field>
    <input matInput [(ngModel)]="person.EntryDate" [matDatepicker]="entryDateDP" placeholder="Fecha de entrada" 
    [formControl]="personalInfoGroup.get('entryDate')">
    <mat-datepicker-toggle matSuffix [for]="entryDateDP"></mat-datepicker-toggle>
    <mat-datepicker #entryDateDP></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="person.BornDate" [matDatepicker]="bornDateDP" placeholder="Fecha de nacimiento"  
    [formControl]="personalInfoGroup.get('bornDate')">
    <mat-datepicker-toggle matSuffix [for]="bornDateDP"></mat-datepicker-toggle>
    <mat-datepicker #bornDateDP></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput [formControl]="personalInfoGroup.get('age')" placeholder="Edad">
  </mat-form-field>
  <div class="md-form">
    <input required [formControl]="personalInfoGroup.get('phoneNumber')" [(ngModel)]="person.PhoneNumber" 
    mdbActive type="number" id="phoneNumber" class="form-control">
    <label for="phoneNumber" class="">Número de teléfono</label>
  </div>
  <!---->
  <mat-form-field>
    <input matInput [(ngModel)]="person.Email" [formControl]="personalInfoGroup.get('email')" placeholder="Email">
  </mat-form-field>
  <hr>
  <p class="text-center">Contacto de Emergencia</p>
  <div class="md-form">
    <input required [formControl]="personalInfoGroup.get('fullNameContact')" [(ngModel)]="person.EmergencyContact.FullNameContact" 
    mdbActive type="text" id="fullNameContact" class="form-control">
    <label for="fullNameContact" class="">Nombre completo del contacto</label>
  </div>
  <!---->
  <div class="md-form">
    <input required [formControl]="personalInfoGroup.get('relationship')" [(ngModel)]="person.EmergencyContact.Relationship" 
    mdbActive type="text" id="relationship" class="form-control">
    <label for="relationship" class="">Relación con el cliente</label>
  </div>
  <!---->
  <div class="md-form">
    <input formControlName="emergencyContactNumber" [(ngModel)]="person.EmergencyContact.EmergencyContactNumber" 
    mdbActive type="text" id="emergencyContactNumber" name="emergencyContactNumber">
    <label for="emergencyContactNumber" class="">Número de teléfono del contacto</label>
  </div>
  <!---->
  <hr>
  <mat-form-field>
    <mat-select placeholder="Referida por.." [formControl]="personalInfoGroup.get('reference')" [(ngModel)]="person.Reference">
      <mat-option *ngFor="let ref of dataService.referecedBy" [value]="ref">
        {{ ref }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!---->
  <div class="md-form">
    <input required [formControl]="personalInfoGroup.get('dni')" [(ngModel)]="person.DNI" 
    mdbActive type="text" id="dni" class="form-control">
    <label for="dni" class="">Número de cédula o DNI</label>
  </div>
  <mat-form-field>
    <mat-select placeholder="Documentada" [formControl]="personalInfoGroup.get('documented')" [(ngModel)]="person.Documented">
      <mat-option *ngFor="let doc of dataService.documentedI" [value]="doc">
        {{ doc }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Nacionalidad" [formControl]="personalInfoGroup.get('nationality')" [(ngModel)]="person.Nationality">
      <mat-option *ngFor="let n of dataService.nationality" [value]="n">
        {{ n }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Estado civil" [formControl]="personalInfoGroup.get('maritalStatus')" [(ngModel)]="person.MaritalStatus">
      <mat-option *ngFor="let mS of dataService.mStatus" [value]="mS">
        {{ mS }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Distrito de residencia" [formControl]="personalInfoGroup.get('residence')" [(ngModel)]="person.Residence">
      <mat-option *ngFor="let dis of dataService.district" [value]="dis">
        {{ dis }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button type="submit" mat-raised-button color="primary">
    Enviar
    <mat-icon>send</mat-icon>
  </button>
</form>