<div style="margin-top: 2%" class="container">
  <button class="btn danger-color btn-sm pull-left" (click)="backClicked()">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
  </button>
  <button class="btn success-color btn-sm pull-right" (click)="forwardClicked()">
    <i class="fa fa-arrow-right" aria-hidden="true"></i>
  </button>
</div>
<h1 class="text-secondary text-center"><strong>Personas en la fundación</strong></h1>
<div id="people-link-container" class="container text-center">
  <button mat-raised-button color="accent" routerLinkActive="active-link" [routerLink]="['/add-person']">Añadir <i class="material-icons">add</i></button>
</div>
<div class="text-center">
  <h6 class="text-secondary">Si desea eliminar personas vaya a la parte de Administrador e inicie sesión</h6>
  <button [routerLink]="['/admin']" mat-button ><i class="material-icons">arrow_forward</i></button>
</div>
<app-show-people></app-show-people>
<div>
    <router-outlet></router-outlet>
</div>