mat-form-field{
    width: 100%;
}
form{
    width: 60%;
    margin-bottom: 2%;
    margin-top: 2%
}
#courses-list {
    list-style-type: none;
}
.course {
    border: solid 1px rgb(212, 212, 212);
    border-radius: 4px;
    margin: 1% 0 1% 0
}
#actions-container{
    text-align: right;
    margin: auto;
    margin-right: 0;
    width: 60%
}