<mat-tab-group class="container text-center demo-tab-group">
  <mat-tab label="Primer Ingreso / INTAKE">
    <mat-horizontal-stepper #stepper="matHorizontalStepper">
      <mat-step>
          <ng-template matStepLabel>Ficha de Identificación / Client Information</ng-template>
        <app-personal-information></app-personal-information>
      </mat-step>
      <mat-step disabled>
        <ng-template matStepLabel>Expectativas / Expectatives</ng-template>
        <app-add-expectatives></app-add-expectatives>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Educación / Education</ng-template>
        <app-add-education></app-add-education>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-tab>
  <mat-tab label="Aspectos Socioeconómicos / Socioeconomic Situation">
    <app-add-socioeconomic></app-add-socioeconomic>
  </mat-tab>
  <mat-tab label="Empleo / Employnment">
    <app-add-employnment></app-add-employnment>
  </mat-tab>
  <mat-tab label="Salud / Health">
    <app-add-health></app-add-health>
  </mat-tab>
</mat-tab-group>