/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.blue-snackbar {
    background: #2196F3;
    color: white
}
.green-snackbar {
    background: #00C853;
    color: white
}

.red-snackbar {
    background: #F44336;
    color: white
}