<div id="home-header" class="container">
  <h1 id="main-title">Árbol de Esperanza</h1>
  <mat-card id="description-card">
    Fundación que ayuda a las mujeres en riesgo social
  </mat-card>
</div>
<hr>
<div id="home-footer" class="container"> 
  <div class="card link text-center">

    <!--Card image-->
    
    <!--Card content-->
    <div class="card-body">
      <!--Title-->
      <h4 class="card-title ">Personas</h4>
      <h1 class="card-icon"><i style="font-size: 50px" class="material-icons">accessibility</i></h1>
      <!--Text-->
      <p class="card-text">
        Visualizar las personas de la fundación
      </p>
      <button class="btn btn-primary btn-sm card-btn">
        Ir
      </button>
    </div>

  </div>
</div>