<div id="home-header">
  <br>
  <br>
  <br>
  <br>
  <div id="content-container">
    <div id="description-card">
      <h1 id="main-title"><strong>Arbol de Esperanza</strong></h1>
      Fundación que ayuda a las mujeres en riesgo social
    </div>
  </div>
</div>
<div id="home-footer"> 
  <div class="card link text-center home-card">

    <!--Card image-->
    
    <!--Card content-->
    <div class="card-body">
      <!--Title-->
      <h4 class="card-title ">Personas</h4>
      <h1 class="card-icon"><i style="font-size: 50px" class="material-icons">accessibility</i></h1>
      <!--Text-->
      <hr>
      <p class="card-text">
        Visualizar las personas de la fundación
      </p>
      <button class="btn btn-primary btn-sm card-btn" [routerLink]="['/people']">
        Ir
      </button>
    </div>

  </div>
  <div class="card link text-center home-card">

    <!--Card image-->
    
    <!--Card content-->
    <div class="card-body">
      <!--Title-->
      <h4 class="card-title ">Gráficos</h4>
      <h1 class="card-icon"><i style="font-size: 50px" class="material-icons">timeline</i></h1>
      <!--Text-->
      <hr>
      <p class="card-text">
        Ver gráficos de la fundación
      </p>
      <button class="btn btn-primary btn-sm card-btn" [routerLink]="['/graph']">
        Ir
      </button>
    </div>

  </div>
  <div class="card link text-center home-card">

    <!--Card image-->
    
    <!--Card content-->
    <div class="card-body">
      <!--Title-->
      <h4 class="card-title ">Usuarios</h4>
      <h1 class="card-icon"><i style="font-size: 50px" class="material-icons" [routerLink]="['/admin']">person_outline</i></h1>
      <!--Text-->
      <hr>
      <p class="card-text">
        Ver los usuarios del sistema
      </p>
      <button class="btn btn-primary btn-sm card-btn" [routerLink]="['/admin']">
        Ir
      </button>
    </div>

  </div>
  <div class="card link text-center home-card">

    <!--Card image-->
    
    <!--Card content-->
    <div class="card-body">
      <!--Title-->
      <h4 class="card-title ">Acerca de</h4>
      <h1 class="card-icon"><i style="font-size: 50px" class="material-icons">business</i></h1>
      <!--Text-->
      <hr>
      <p class="card-text">
        Conózcanos
      </p>
      <button class="btn btn-primary btn-sm card-btn" [routerLink]="['/about']">
        Ir
      </button>
    </div>
  </div>
</div>