<div id="home-header">
  <br>
  <br>
  <br>
  <br>
  <div id="content-container">
    <div id="description-card">
      <h1 id="main-title"><strong>Arbol de Esperanza</strong></h1>
      Fundación que ayuda a las mujeres en riesgo social / Foundation that helps women at social risk
    </div>
  </div>
</div>
<div id="home-footer"> 
  <div class="card link text-center home-card">
    <div class="card-body">
      <!--Title-->
      <h4 class="card-title ">Personas / People</h4>
      <h1 class="card-icon"><i style="font-size: 50px" class="material-icons">accessibility</i></h1>
      <!--Text-->
      <hr>
      <p class="card-text">
        Personas en la fundación / Organization's people
      </p>
      <button class="btn btn-primary btn-sm card-btn" [routerLink]="['/people']">
        Ir / Go
      </button>
    </div>
  </div>
  <div class="card link text-center home-card">
    <div class="card-body">
      <!--Title-->
      <h4 class="card-title ">Gráficos / Charts</h4>
      <h1 class="card-icon"><i style="font-size: 50px" class="material-icons">timeline</i></h1>
      <!--Text-->
      <hr>
      <p class="card-text">
        Gráficos de estadísticas/ Organization's charts
      </p>
      <button class="btn btn-primary btn-sm card-btn" [routerLink]="['/graph']">
        Ir / Go
      </button>
    </div>
  </div>
  <div class="card link text-center home-card">
    <div class="card-body">
      <!--Title-->
      <h4 class="card-title ">Usuarios / Users</h4>
      <h1 class="card-icon"><i style="font-size: 50px" class="material-icons" [routerLink]="['/admin']">person_outline</i></h1>
      <!--Text-->
      <hr>
      <p class="card-text">
        Ver los usuarios del sistema / Website users
      </p>
      <button class="btn btn-primary btn-sm card-btn" [routerLink]="['/admin']">
        Ir / Go
      </button>
    </div>
  </div>
</div>