@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
#content-container{
    margin-top: 10%;
    background-color:rgba(0, 0, 0, 0.6);
}
#home-header {
    text-align: center;
    background-image: url('../../assets/nature.jpg')
}
#main-title{
    font-family: 'Fjalla One', sans-serif;
    font-size: 75px;
    padding-top: 2%;
    color: white
}
#description-card{
    width: 70%;
    margin: auto;
    border-radius: 5px;
    color: white
}
#links{
    margin: auto;
    width: 100%;
    text-align: center;
    list-style-type: none;
    padding: 0
}
.link{
    display: inline-block;
    margin-top: 0.5%;
    max-width: 25%;
    width: 25%;
}
#home-footer{
    background-color: #E8EAF6;
    margin-top: 1%;
    width: 100%;
    height: 50%;
    padding-right: 0;
    padding-left: 0;
    margin: auto;
    text-align: center
}
.card-icon{
    text-align: center;
    margin-top: 1%

}
.card-btn{
    text-align: center
}
.home-card{
    background-color: #EEEEEE;
    color: black;
    margin: 8px 15px 8px 15px
}