.chart {
    width: 50%;
    margin: auto;
    margin-top: 2%;
}
.filter-container {
    width: 50%;
    margin: auto;
    margin-top: 5%
}
mat-tab-group {
    width: 70%;
    margin: auto;
    margin-top: 1%
}