<div style="margin-top: 2%" class="container">
  <button class="btn danger-color btn-sm pull-left" (click)="backClicked()">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
  </button>
  <button class="btn success-color btn-sm pull-right" (click)="forwardClicked()">
    <i class="fa fa-arrow-right" aria-hidden="true"></i>
  </button>
</div>
<div class="chart">
  <canvas class="card" mdbChart 
      [chartType]="chartType"
      [datasets]="chartDatasets" 
      [labels]="chartLabels"
      [colors]="chartColors"
      [options]="chartOptions"
      [legend]="true"
      (chartHover)="chartHovered($event)" 
      (chartClick)="chartClicked($event)">
  </canvas>
</div>
<div class="chart">
  <canvas class="card" mdbChart 
      [chartType]="secondChartType"
      [data]="chartData" 
      [labels]="secondChartLabels"
      [colors]="secondChartColors"
      [options]="secondChartOptions"
      [legend]="true"
      (chartHover)="secondChartHovered($event)" 
      (chartClick)="secondChartClicked($event)">
  </canvas>

</div>