<div id="edit-section" class="list-group">
  <p class="list-group-item active waves-light" mdbWavesEffect>
    Seleccione la sección a editar
  </p>
  <a (click)="editPersonalInfo()" class="list-group-item waves-light" mdbWavesEffect>Información Personal</a>
  <a (click)="editEducation()" class="list-group-item waves-light" mdbWavesEffect>Datos de educación</a>
  <a (click)="editEmployee()" class="list-group-item waves-light" mdbWavesEffect>Datos laborales</a>
  <a href="#" class="list-group-item waves-light" mdbWavesEffect>Datos de salud</a>
  <a href="#" class="list-group-item waves-light" mdbWavesEffect>Datos socioeconómicos</a>
  <a (click)="editExpectatives()" class="list-group-item waves-light" mdbWavesEffect>Expectativas sobre la organización</a>
</div>