<div style="margin-top: 2%" class="container">
  <button class="btn danger-color btn-sm pull-left" (click)="backClicked()">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
  </button>
  <button class="btn success-color btn-sm pull-right" (click)="forwardClicked()">
    <i class="fa fa-arrow-right" aria-hidden="true"></i>
  </button>
</div>
<div id="error-handle-container" class="container text-center">
  <h1 class="text-danger">Error - Página no encontrada</h1>
  <h6 class="text-secondary">Parece que la página que estás buscando no existe</h6>
  <hr>
  <button [routerLink]="['/home']" mat-raised-button color="warn">Ir a Inicio
      <i class="material-icons">home</i>
  </button>
</div>